<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.frischmann.iSAP</string>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/usr/local/bin/iSAP</string>
	<key>StandardErrorPath</key>
	<string>/var/log/iSAP.err</string>
	<key>StandardOutPath</key>
	<string>/var/log/iSAP.log</string>
</dict>
</plist>
